RewriteEngine On

SetEnv CPD_DISCOVERYURI "http://localhost:8080/discovery"
SetEnv CPD_SITENAME "test-site"

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]